In [8]:
import pandas as pd 
train = pd.read_csv('train.csv',encoding = 'big5')
test = pd.read_csv('test.csv',encoding = 'big5')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (17,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CUS_ID,GENDER,AGE,CHARGE_CITY_CD,CONTACT_CITY_CD,EDUCATION_CD,MARRIAGE_CD,LAST_A_CCONTACT_DT,L1YR_A_ISSUE_CNT,LAST_A_ISSUE_DT,...,L1YR_GROSS_PRE_AMT,CUST_9_SEGMENTS_CD,FINANCETOOLS_A,FINANCETOOLS_B,FINANCETOOLS_C,FINANCETOOLS_D,FINANCETOOLS_E,FINANCETOOLS_F,FINANCETOOLS_G,Y1
0,3418,M,低,A1,A1,NaN,NaN,Y,0,N,...,0.000174,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,4302,M,低,A1,A1,NaN,NaN,Y,0,N,...,0.008724,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,5545,M,低,A1,A1,1.0,0.0,Y,1,Y,...,0.005359,A,Y,N,N,N,N,N,N,N
3,7207,M,低,A1,A1,NaN,0.0,Y,0,N,...,0.000000,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,7213,M,低,A1,A1,1.0,0.0,N,0,N,...,0.000603,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [ ]:
train['Y1']

In [9]:
test

,CUS_ID,GENDER,AGE,CHARGE_CITY_CD,CONTACT_CITY_CD,EDUCATION_CD,MARRIAGE_CD,LAST_A_CCONTACT_DT,L1YR_A_ISSUE_CNT,LAST_A_ISSUE_DT,...,IF_ADD_INSD_IND,L1YR_GROSS_PRE_AMT,CUST_9_SEGMENTS_CD,FINANCETOOLS_A,FINANCETOOLS_B,FINANCETOOLS_C,FINANCETOOLS_D,FINANCETOOLS_E,FINANCETOOLS_F,FINANCETOOLS_G
0,1193,M,低,A1,A1,2.0,0.0,Y,4,Y,...,Y,0.000151,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1727,M,低,A1,A1,NaN,0.0,N,0,N,...,N,0.000000,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3293,M,低,A1,A1,1.0,0.0,N,0,N,...,N,0.000090,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4328,M,低,A1,A1,NaN,0.0,N,0,N,...,N,0.000000,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5555,M,低,A1,A1,1.0,0.0,Y,0,Y,...,N,0.000179,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN